dist/
Games/*/gamepackage/meta
Games/*/gamepackage/data/bin
Games/*/gamepackage/data/c-drive
Games/*/gamepackage/data/cdrom-image
Games/*/gamepackage/data/gamedata
*.bin
*.cue
*.iso
*-installer
*.jpg
*.png
README-linux.txt
